{% extends "herencia.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <title>ACERCA DE</title>
{% endblock %}

{% block main%}
    <main>
        <h1 class="all_titles">¡Bienvenido a nuestra comunidad de aventureros!</h1> 
        <div class="text">
        <p>Nos dedicamos a inspirar y conectar a los amantes de los viajes.</p> 
        <p>Nuestra comunidad se basa en la creencia de que viajar no se trata sólo de ver nuevos lugares, sino de descubrirse a uno mismo y salir de las zonas de confort.</p>
        <p>Nuestra misión es proporcionar una plataforma para que todos compartan sus experiencias de viaje, obtengan valiosos consejos y se conecten entre ustedes.</p>
        <p>Quién te dice que no encuentres a tu alma gemela viajera?</p>
        </div>

        
    </main>
{% endblock%}