<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div>
            <h1 class="titulo_principal"> A dónde vamos?</h1>
            <p class="titulo"> Una comunidad creada para inspirar y conectar viajeros</p>
        </div>
        <div class="home">
            <ul class="home_items">
                <li><a href="/">HOME</a></li>
                <li><a href="/login">LOG IN</a></li>
                <li><a href="/acerca_de">ACERCA DE</a></li>
                <li><a href="/register">REGISTRO DE USUARIO</a></li>
                {% if session.get("username") %}
                <li><a href="/nuevo_post">CREAR UN NUEVO POSTEO</a></li>
                <li><a href="/logout">CERRAR SESION</a></li>
                {% endif %}
            </ul>
        </div>
    </header>

    {% block main%}
    {% endblock%}

    <footer>
        <div class="footer">
            <p>Hecho por {{nombre}}</p>
            <p>Contacto: email@email.com</p>
            <p>Febrero 2024</p>
        </div>
    </footer>

    
</body>
</html>