{% extends "herencia.html" %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
        <title>A dónde vamos?</title>
    </head>
{% endblock %}


{% block main%}
    <main>
        <div class="search">
            <div class="search_button">
                <form action="/">
                    <input style= "width: 50%;" type="search" id="search" name="search" placeholder="Encontrá tu proximo destino">
                    <button type="submit"> BUSCAR </button>
                </form>
            </div>
        </div>
        
        <h1 class="all_titles">POSTEOS</h1>
        
        {% if posts %}
            {% for post in posts %}
                <div class="posts">
                    <h1 class="post_title">{{ post[2] }}</h1>
                        <div class="post_info">
                            <p>Por: {{ post[1] }}</p>
                        </div>
                            <div class="ref">
                                <a href="/post/{{post[0]}}">Leer post</a>
                            </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="p">Por el momento ningun usuario subió un posteo</p>
        {% endif %}

        
        
    </main>
{% endblock %}
    