{% extends "herencia.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <title>LOG IN</title>
{% endblock %}

{% block main%}
    <main>
        <h1 class="all_titles">LOGIN</h1>

        <div class="register_and_login">
            <div class="r_and_l_items">    
                <form action="/login" method="POST">
                    <label for="username"> USUARIO:</label><br>
                    <input type="text" id="username" name="username"><br>
                    <label for="password"> CONTRASEÑA:</label><br>
                    <input type="password" id="password" name="password"><br>
                    <input type="submit" value="Enviar">
                </form>
            </div>
            <div class="p">
                <p class="error">{{error}}</p>

                <p> No tenes usuario? Registrate <a href={{url_for('new_user')}}> aqui</a></p>
            </div>
        </div>
    </main>
{% endblock%}