{% extends "herencia.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <title>POSTEO</title>
{% endblock %}

{% block main%}
    <main>
        
        <div>
            <h1 class="all_titles">{{ post[2] }}</h1>
        </div>
        <div class="text">
            <p>Autor: {{ post[1] }}</p>
            <p>{{post[3]}}</p>
        </div>
        <div class="ref">
        <a  href="/">Volver atras</a>
        </div>
        
        
    </main>
{% endblock%}